.env
.gitattributes
.gitignore
.venv

# config file
key.txt
config.json
files/*
data/data.json
data/screenshot.png
data/mouse-ss.png
data/combined_image.png
data/webcam-capture.jpg
test.py
commands-to-be-added/*